<app-menu></app-menu>
<div class="container">
    <div class="col-md-12">
        <mat-card class="example-card">
            <mat-card-header>
                <div class="mx-auto">
                    <h1 class="display-6 text-center colorTitle"> Sorting</h1>
                </div>
            </mat-card-header>
            <mat-card-content></mat-card-content>
        </mat-card>
    </div>
    <div class="row marginUp">
        <div class="col-lg-4 ">    
            <mat-form-field  appearance="outline" [style.width.%]="90" required>
                <mat-label class="text-capitalize"> Enter the type of classification
                </mat-label>
                <input  type="text" matInput  name="typeSorting" #typeSorting="ngModel" [(ngModel)]="this.sorting.type" maxlength="100" placeholder="..." required>
                <mat-hint align="end"></mat-hint>
            </mat-form-field>
         </div>
         <div class="col-lg-4 ">    
            <mat-form-field  appearance="outline" [style.width.%]="90" required>
                <mat-label class="text-capitalize"> Enter the data
                </mat-label>
                <input  type="text" matInput  name="dataSorting" #dataSorting="ngModel" [(ngModel)]="this.sorting.data" maxlength="100" placeholder="..." required>
                <mat-hint align="end"></mat-hint>
            </mat-form-field>
         </div>
         <div class="col-lg-4">
            <button type="button"  (click)="schearData()" >
                <i class="fa fa-check-circle"></i>
             </button>
             <button type="button"  (click)="clear()" >
                Clear
             </button>
         </div>
         <div class="col-lg-4">
           
         </div>
    </div>
    
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let titulo of displayedColumns">
                        {{titulo}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fila of this.listSorting">
                    <th><img src="{{fila.image}}" > </th>                   
                    <th>{{fila.name}} </th>
                    <th>{{fila.ancestry}}</th>
                    <th>{{fila.gender}}</th>
                </tr>
            </tbody>
        </table>
    
</div>
