<app-menu></app-menu>
<div class="container">
    <div class="col-md-12">
        <mat-card class="example-card">
            <mat-card-header>
                <div class="mx-auto">
                    <h1 class="display-6 text-center colorTitle"> List Members per House</h1>
                </div>
            </mat-card-header>
            <mat-card-content></mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-3" >
        <mat-form-field class="margin " appearance="outline" [style.width.%]="90">
            <mat-label>Select House</mat-label>
            <mat-select  name="houseSelect" #houseSelect="ngModel" [(ngModel)]="this.member.house" (ngModelChange)="loadMembers($event,true)" required>
                <mat-option *ngFor="let houses of this.listHouse" value="{{houses}}" >
                    {{houses}}
                 </mat-option>
            </mat-select>                       
        </mat-form-field>
   
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput class="forms-control" name="name" [(ngModel)]="this.member.name" value="{{this.member.name}}">           
        </mat-form-field>
    </div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let titulo of displayedColumns">
                        {{titulo}}
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="this.member.name ===''">
                <tr  *ngFor="let fila of this.listMembers">
                    <th><img src="{{fila.image}}" > </th>                   
                    <th>{{fila.name}} </th>
                    <th>{{fila.ancestry}}</th>
                    <th>{{fila.gender}}</th>
                </tr>
            </tbody>
            <tbody >
                <tr  *ngFor="let fila of this.listMembers | filter: this.member.name">
                    <th><img src="{{fila.image}}" > </th>                   
                    <th>{{fila.name}} </th>
                    <th>{{fila.ancestry}}</th>
                    <th>{{fila.gender}}</th>
                </tr>
            </tbody>
        </table>
</div>