.margin{
    margin-top: 15px; }
.colorTitle{
    color: rgb(10, 159, 245);
    font-size: 24px;
    font-weight: bold;
}

.tamañoColumna {
    width: 35%;
    font-weight: bold;
    color:black;
}

img{
    width: 100px;
    height: 100px;
}

